@charset "utf-8";
/* CSS Document */
/*******  Normalize *********/
html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
/****************************/
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #2f2626;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #2f2626;
  text-align:center;
  display: flex;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: orange;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
  #breadcrumb{
    width: 100%;
  } 
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 70px;
  background-color: #463e3e;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
 }
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: #fff;
  border-radius: 4px; 
  font-family: Arial,sans-serif;
  font-size: 1rem;
  font-style: normal;
  height: auto;
  letter-spacing: 0;
  text-indent: 5px;
  margin: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
  padding: .8125rem;
  padding-right: 2rem;
  padding-left: .5rem;
  -webkit-appearance: none;
}

@media screen and (max-width: 650px) {
  .filter-options h2{
    width: 100%;
    text-align: center;
  }
  .filter-options select{
    width: 80%;
  }  
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 6px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  margin: 15px 5px;
  min-height: 380px;
  padding: 0px 0px 10px;
  text-align: left;
  width: 290px;
  box-shadow: #bbb 1px 1px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 15px 5px 15px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 5px 15px 5px;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 0 10px 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 609px) {
  #restaurants-list li {
    width: 100%;
  }
}
@media screen and (min-width: 610px) and (max-width: 650px) {
  #restaurants-list{
    padding: 30px 0px 60px;
  }
  #restaurants-list li {
    margin: 15px 5px;
  }
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #463e3e;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 3rem 2.5rem 5rem;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  border-radius: 30px 0 30px 0;
}
#reviews-list li .header{
  background-color: #463e3e;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 10px 30px;
}
#reviews-list li p.name{
  color: #fff;
  padding: 0;
}
#reviews-list li p.date{
  color: #ddd;
  text-shadow: #000 1px 1px;
}
#reviews-list li .body{
  padding: 20px 30px;
}
#reviews-list li .rating {
  background-color: orange;
  color: #fff;
  padding: 5px;
  width: 25%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0 0 10px 0;
}
#reviews-list li .comments {
}
#restaurant-hours td {
  color: #666;
}

@media screen and (max-width: 650px) {
  
  #restaurant-container, #reviews-container{
    width: 100%;
    display: block;
  }
  #reviews-container {
    padding: 2rem 1.5rem 5rem;
  }
  #restaurant-container{
    padding: 2rem 1.5rem 1rem;
  }
  .inside #map-container{
    width: 100%;
    height: 500px;
    position: relative;
    top: 0;
    right: 0;
  }
  .inside #footer{
    width: 100%;
  }
}